{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Statuses" %}{% endblock %}

{% block content %}
  <h2>{% trans "Statuses" %}</h2>

  <div class="mb-3">
    <a href="{% url 'create_status' %}" class="btn btn-primary btn-sm">{% trans "Create status" %}</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">{% trans "id" %}</th>
        <th scope="col">{% trans "Name" %}</th>
        <th scope="col">{% trans "Creation date" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for status in statuses %}
      <tr>
        <td>{{ status.id }}</td>
        <td>{{ status.name }}</td>
        <td>{{ status.created_date|date:"d.m.Y H:i"  }}</td>
        <td>
          <a href="{% url 'edit_status' status.id %}">{% trans "Edit" %}</a>
          <br>
          <a href="{% url 'delete_status' status.id %}">{% trans "Delete" %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
