{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" href="/">{% block navbar_brand %}{% trans "Task Manager" %}{% endblock %}</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/">{% block navlink1 %}{% trans "Users" %}{% endblock %}</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/statuses/">{% trans "Statuses" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Labels/">{% trans "Labels" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tasks/">{% trans "Tasks" %}</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <span class="navbar-text mr-2">{{ user.username }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login/">{% trans "Sinup" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/create/">{% trans "Registration" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
