{% extends 'base.html'%}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}
    {{ title }} | {% translate 'Task Manager' %}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="card">
    <div class="card-header bg-secondary text-white">
        <h2>{{ task.name }}</h2>
    </div>
    <div class="card-body bg-light">
        <p>{{ task.description }}</p>
        <hr>
        <div class="row p-1">
            <div class="col">{% translate 'Author' %}</div>
            <div class="col">{{ task.author }}</div>
        </div>
        <div class="row p-1">
            <div class="col">{% translate 'Executor' %}</div>
            <div class="col">{{ task.executor }}</div>
        </div>
        <div class="row p-1">
            <div class="col">{% translate 'Status' %}</div>
            <div class="col">{{ task.status }}</div>
        </div>
        <div class="row p-1">
            <div class="col">{% translate 'Created at' %}</div>
            <div class="col">{{ task.created_date|date:"d.m.Y H:i" }}</div>
        </div>
        <div class="row p-1">
            <div class="col">
                <h6>{% translate 'Labels' %}</h6>
                <ul>
                    {% for label in form.label.all %}
                    <li>{{ label.name }}</li>
                    {% empty %}
                    <li>No labels</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <a href="{% url 'edit_tasks' task.pk %}">{% translate 'Edit' %}</a>
                <br>
                <a href="{% url 'delete_tasks' task.pk %}">{% translate 'Delete' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
