{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Задачи" %}{% endblock %}

{% block content %}
  <h2>Задачи</h2>

  <div class="mb-3">
    <a href="{% url 'create_tasks' %}" class="btn btn-primary btn-sm">{% trans "Создать задачу" %}</a>
  </div>

    <div class="card mb-3 card-body bg-light">
        <form method="GET" class="d-flex flex-row align-items-center justify-content-between flex-wrap">
            <div class="p-2">
                <label class="form-label" for="id_status">Статус</label>
                <select name="status" class="form-select rounded" id="id_status">
                    <option value="" selected>---------</option>
                    {% for status in task_statuses %}
                        <option value="{{ status.id }}">{{ status.name }}</option>
                    {% empty %}
                        <option>Нет данных</option>
                    {% endfor %}
                </select>
            </div>

            <div class="p-2">
                <label class="form-label" for="id_executor">Исполнитель</label>
                <select name="executor" class="form-select rounded" id="id_executor">
                    <option value="" selected>---------</option>
                    {% for user in form.executor.field.queryset %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="p-2">
                <label class="form-label" for="id_label">Метка</label>
                <select name="label" class="form-select rounded" id="id_label">
                    <option value="" selected>---------</option>
                    {% for label in form.label.field.queryset %}
                        <option value="{{ label.id }}">{{ label.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="p-2 form-check">
                {{ filter.form.as_p }}
                <input type="checkbox" id="my_tasks" name="my_tasks">
                <label for="my_tasks">Только свои задачи</label>
            </div>

            <div class="p-2">
                <input class="btn btn-primary btn-sm" type="submit" value="Показать">
            </div>
        </form>
    </div>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Статус</th>
        <th scope="col">Автор</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">Дата создания</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.status.name }}</td>
          <td>{{ task.author.username }}</td>
          <td>{{ task.executor.username }}</td>
          <td>{{ task.created_date|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'edit_tasks' task.id %}">Изменить</a>
            <br>
            <a href="{% url 'delete_tasks' task.id %}">{% trans "Delete" %}</a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
