{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Задачи" %}{% endblock %}

{% block content %}
  <h2>Задачи</h2>
  <a href="{% url 'create_tasks' %}" class="btn btn-primary">{% trans "Создать задачу" %}</a>

  <form method="get">
    {{ form.as_p }}
    <input type="submit" value="Filter">
  </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Имя</th>
        <th scope="col">Статус</th>
        <th scope="col">Автор</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">Дата создания</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.status.name }}</td>
        <td>{{ task.author.username }}</td>
        <td>{{ task.executor.username }}</td>
        <td>{{ task.created_date }}</td>
        <td>
        <a href="{% url 'edit_tasks' task.id %}">{% trans "Edit" %}</a>
        <br>
        <a href="{% url 'delete_tasks' task.id %}">{% trans "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
